<div class="ui stackable grid" style="background-color: #232946;padding-top:30px">
  <div class="two wide column"></div>
  <div class="four wide column" style="margin-right:20px;">
    <%= render 'users/profile'%>
  </div>

  <div class="eight wide column">
    <div class="ui secondary pointing menu" style="background-color:#fff;margin-bottom:0;padding:10px 20px 0 20px;">
      <%= link_to '可視化による分析',user_path(@user), class: "item" %>
      <%= link_to "フォロー中", followings_user_path(@user), class: "active item" %>
      <%= link_to "フォロワー", followers_user_path(@user), class: "item" %>
    </div>
    <div style="background-color:#fff;padding-top:10px;border-radius:0 0 7px 7px;margin-bottom:20px;">
      <div class="ui relaxed stackable grid" style="margin-left:20px;">
        <div class="three column row">
          <% @followings.each do |following| %>
            <div class="column" style="margin-top:1rem;">
              <div class="ui cards">
                <div class="card">
                  <div class="content">
                    <%= image_tag following.image.url,class: 'icon' %>
                    <div class="header">
                      <%= following.name %>
                    </div>
                    <div class="meta">
                      New Member
                    </div>
                  </div>
                  <div class="extra content" id="follow_button_<%= following.id %>">
                    <%= render 'relationships/follow_button', user: following %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="two wide column"></div>
</div>
