<div class="ui card">
  <div class="content">
    <a class="header"><%= @user.name %></a>
    <div class="meta">
      <span class="date">Joined in 2013</span>
    </div>
    <div class="description">
      email:<%= @user.email %>
    </div>
    <div class="description">
        <%= image_tag @user.image.url,class: 'icon' %>
    </div>
    <button class="ui button">
      <%= link_to "編集", edit_user_registration_path %>
    </button>
    <div class="ui relaxed grid">
     <div class="three column row">

       <div class="column"><div>投稿</div><div>40</div></div>
       <div class="column"><div><%= link_to "フォロー", followings_user_path(@user) %></div><div><%= @count_followings %></div></div>
       <div class="column"><div><%= link_to "フォロワー", followers_user_path(@user) %></div><div><%= @count_followers %></div></div>
     </div>
    </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      22 Friends
    </a>
  </div>
</div>
