<%= render 'layouts/toppage' %>

<div class="ui stackable grid fluid">
  <div class="one wide column"></div>
  <div class="five wide column">
    <div style="background-color:#fffffe;border-radius: 7px;">
      <h3 class="ui header" style="padding:20px 20px;color:#232946;">
        <i class="chart line icon" style="float:left;"></i>トレンド
        <div class="sub header">
          最近の投稿
        </div>
      </h3>
      <div class="ui vertical menu" >
        <div class="ui dropdown item">
          絞り込み検索
          <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to "新しい順", search_products_path(keyword: "new"),class: "item", remote: true  %>
            <%= link_to "古い順", search_products_path(keyword: "old"),class: "item", remote: true  %>
            <%= link_to "人気順", search_products_path(keyword: "like"),class: "item", remote: true %>
          </div>
        </div>
      </div>
      <a id="trend_product">
        <%= render 'products/trend_product', products: @products %>
      </a>
    </div>
　</div>

  <div class="one wide column"></div>





  <div class="eight wide column">
      <div class="ui secondary pointing menu" style="padding-top:20px;padding-left:20px;background-color:#fffffe;margin-bottom:0;border-radius:7px 7px 0 0;">
        <%= link_to 'あなたのグラフ',root_path, class: "item" %>
        <%= link_to 'あなたの今までの投稿',graph_products_path, class: "active item" %>
      </div>
      <!--グラフ-->
      <% unless user_signed_in? %>
        <div style="background-color:#fffffe;padding:10px;border-radius:0 0 7px 7px;">
          ※ログイン後あなただけのグラフが表示されます
        </div>
      <% end %>
      <% if user_signed_in? %>
      <div style="background-color:#fffffe;border-radius:0 0 7px 7px;">
        <div class="ui padded segment" style="background:#fffffe;">
          <h3 class="ui dividing header">
            <span style="color:#232946;"><%= current_user.name %>さん</span>
          </h3>
          <div class="ui grid">
            <div class="eight wide column">
              <h4 class="ui header"><span style="color:#232946;">投稿した記事</span></h4>
              <div class="ui list">
                <% if @tag_percent_data.present? %>
                  <% @tag_percent_data.each do |key,value| %>
                    <div class="item"><span style="color:#232946;"><%= key %></span>:&nbsp;&nbsp;&nbsp;<span style="color:#E4435E;font-weight:bold;"><%= value %>%</span></div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="eight wide column">
              <h4 class="ui header"><span style="color:#232946;">投稿数</span></h4>
              <div style="color:#E4435E;font-weight:bold;"><%= @count_products %></div>
              <h4 class="ui header"><span style="color:#232946;">いいねされた数</span></h4>
              <div style="color:#E4435E;font-weight:bold;"><%= @like_count %></div>
            </div>
          </div>
        </div>
      </div>


      <div style="background-color:#fffffe;margin-top:10px;padding-top:10px;border-radius: 7px;">
        <h3 class="ui header" style="padding-top:20px;padding-left:20px;">
          <i class="chart bar outline icon" style="float:left;"></i>あなたのストーリー
          <div class="sub header">
            今までの勉強の軌跡
          </div>
        </h3>
        <table class="ui celled striped table">
          <thead>
            <tr><th colspan="3">
              ALL PRODUCT
            </th>
          </tr></thead>
          <tbody>
            <% @my_product.each_with_index do |product, idx| %>
            <tr>
              <td class="collapsing">
                <i class="file outline icon"></i>
                <%= link_to(product_path(product.id)) do %>
                  <%= product.title %>
                  <% end %>
                </td>
                <td>
                  <i class="tags icon"></i>
                  <% product.tags.each do |tag| %>
                  <%= tag.tag_name %>,
                  <% end %>
                </td>
                <td class="right aligned collapsing"><%= product.created_at.strftime("%Y.%m/%d") %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @my_product %>
          <% end %>
    </div>
  </div>
  <div class="one wide column"></div>
