
<div class="ui stackable grid">
  <div class="one wide column"></div>
  <div class="five wide column">
    <div class="ui vertical menu">
       <div class="ui dropdown item">
         Categories
         <i class="dropdown icon"></i>
         <div class="menu">
           <a class="item">新しい順</a>
           <a class="item">古い順</a>
           <a class="item">人気順</a>
         </div>
       </div>
     </div>
    <% @products.each do |product| %>
    <div class="ui large feed">
      <div class="event">
        <div class="label">
          <i class="pencil icon"></i>
        </div>
        <div class="content">
          <div class="summary">
            <%= product.user.name %>
            <div class="date">
              3 days ago
            </div>
          </div>

          <div class="extra text">
            <%= link_to(product_path(product.id)) do %>
              <%= product.title %>
            <% end %>
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 11 Likes
            </a>
            <a class="like">
              <i class="like icon"></i> Follow
            </a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <%= paginate @products %>
　　</div>





  <div class="nine wide column">
    <!--グラフ-->
    <% if @product.present? %>
      <%= area_chart @data, width: "800px", height: "500px", xtitle: "作成日", ytitle: "アウトプット個数"  %>
      <!--テーブル-->
      <table class="ui inverted teal table">
        <thead>
          <tr>
            <th></th>
            <th>タイトル</th>
            <th>ボディ</th>
            <th>作成日</th>
          </tr>
      　</thead>
        <tbody>
          <% @product.each_with_index do |product, idx| %>
            <tr>
              <td><%= idx + 1 %></td>
              <td><%= product.title %></td>
              <td><%= product.body.truncate(50) %></td>
              <td><%= product.created_at.strftime("%Y.%m/%d") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="one wide column"></div>
