<div class="ui stackable grid">
  <div class="one wide column"></div>
  <div class="five wide column">


    <div class="ui vertical menu">
       <div class="ui dropdown item">
         Categories
         <i class="dropdown icon"></i>
         <div class="menu">
           <%= link_to "新しい順", search_products_path(keyword: "new"),class: "item"  %>
           <%= link_to "古い順", search_products_path(keyword: "old"),class: "item"  %>
           <%= link_to "人気順", search_products_path(keyword: "like"),class: "item" %>
         </div>
       </div>
     </div>


    <% @products.each do |product| %>
      <div class="ui large feed">
        <div class="event">
          <div class="label">
            <%= image_tag( product.user.image.url,class: 'icon') %>
          </div>
          <div class="content">
            <div class="summary">
              <%= product.user.name %>
              <div class="date">
                <%= product.created_at.strftime("%Y.%m/%d") %>
              </div>
              <div class="date">
                <% product.tags.each do |tag| %>
                <div class="ui yellow label"><%= tag.tag_name %></div>
                <% end %>
              </div>
            </div>
            <div class="extra text">
              <%= link_to(product_path(product.id)) do %>
                <%= product.title %>
                <% end %>
              </div>
              <div class="meta">
                <% if user_signed_in? %>
                <%= render 'layouts/like_button', product: product %>
                <%= render 'layouts/follow_button', user: product.user %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
    <%= paginate @products %>
　　</div>





  <div class="nine wide column">
    <div class="ui two item menu">
      <%= link_to 'グラフ(未完成)',new_product_path, class: "active item" %>
      <%= link_to '全てのアウトプット(未完成)',new_product_path, class: "item" %>
    </div>
    <!--グラフ-->
    <% if @product.present? %>
      <%= area_chart @data, width: "800px", height: "500px", xtitle: "作成日", ytitle: "アウトプット個数"  %>
      <!--テーブル-->
      <table class="ui inverted teal table">
        <thead>
          <tr>
            <th></th>
            <th>タイトル</th>
            <th>ボディ</th>
            <th>作成日</th>
          </tr>
      　</thead>
        <tbody>
          <% @my_product.each_with_index do |product, idx| %>
            <tr>
              <td><%= idx + 1 %></td>
              <td><%= product.title %></td>
              <td><%= product.body.truncate(50) %></td>
              <td><%= product.created_at.strftime("%Y.%m/%d") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @my_product %>
    <% end %>
  </div>
  <div class="one wide column"></div>
