
<div class="ui stackable grid">
    <div class="one wide column"></div>
    <div class="four wide column">
      <div class="side active">
        <div class="ui card">
          <div class="image">
            <%= image_tag( @product.user.image.url,class: 'icon') %>
          </div>
          <div class="content">
            <a class="header"><%= @product.user.name  %></a>
            <div class="meta">
              <span class="date">Joined in 2014</span>
            </div>
            <div class="description">
              <div class="ui equal width grid">
                <div class="column">
                  <div class="ui small statistic">
                    <div class="value">
                      <%= @product.user.products.count %>
                    </div>
                    <div class="label">
                      投稿
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui small statistic">
                    <div class="value">
                      <%= @product.user.followings.count %>
                    </div>
                    <div class="label">
                      フォロー
                    </div>
                  </div>
                </div>
                <div class="column">
                  <div class="ui small statistic">
                    <div class="value">
                      <%= @product.user.followers.count %>
                    </div>
                    <div class="label">
                      フォロワー
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="extra content" id="follow_button_<%= @product.user.id %>">
            <%= render 'relationships/follow_button', user: @product.user %>
          </div>
        </div>
      </div>
    </div>

    <div class="ten wide column">
      <h3 class="ui top attached header">
        <div>
          <%= @product.title %>
          <div class="ui right floated button">
            <div class="ui dropdown">
              <div class="text">option</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <% if current_user==@product.user %>
                  <div class="item">
                    <%= link_to(edit_product_path(@product)) do %>
                      <i class="edit icon"></i>編集
                      <% end %>
                    </div>
                    <div class="item">
                      <%= link_to(product_path(@product), method: :delete, data: { confirm: '本当に削除しますか？' }) do %>
                      <i class="trash icon"></i>削除
                      <% end %>
                    </div>
                    <div class="item">
                      <%= link_to(root_path) do %>
                      <i class="undo alternate icon"></i>一覧に戻る
                      <% end %>
                    </div>
                    <% else %>
                    <div class="item">
                      <%= link_to(root_path) do %>
                      　  <i class="undo alternate icon"></i>一覧に戻る
                      　<% end %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% @product.tags.each do |tag| %>
          <div class="ui label"><%= tag.tag_name %></div>
        <% end %>
      </h3>
      <div class="ui bottom attached segment" style="background-color: #fff;color: #000;">
          <%= markdown(@product.body).html_safe %><!--Markdownヘルパーを使ってる-->
      </div>
      <div style="background:#fffffe;">
        <div class="ui comments">
          <h3 class="ui dividing header" style="padding:20px;"><i class="comment outline icon"></i>Comments</h3>
          <% @comments.each do |comment| %>
          <div class="comment" style="background-color: #fff">
            <a class="avatar">
              <%= image_tag( comment.user.image.url,class: 'icon') %>
            </a>
            <div class="content">
              <a class="author"><%= comment.user.name %></a>
              <div class="metadata">
                <span class="date"><%= comment.created_at.strftime("%Y.%m/%d") %></span>
              </div>
              <div class="text">
                <%= comment.body %>
              </div>
              <div class="actions">
                <% if current_user.id == comment.user.id %>
                  <%=link_to "削除", product_comment_path(comment.product.id, comment.id), method: :delete, data: { confirm: '本当に削除しますか？' },class: "reply" %>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
          <%= form_with(model: [@product, @comment], method: :post, local: true,class: "ui reply form") do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
            <div class="field">
              <div style="padding:20px 20px 0 20px;">
                <%= f.hidden_field :product_id, :value => @product.id %>
                <%= f.text_field :body, :placeholder => "コメントする..."%>

                <div>
                  <%= button_tag :type => "submit", :class =>"ui button",:style => "margin:10px;background:#eebbc3;color:#232946;" do %>
                    <i class="icon edit"></i>投稿する
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
    <div class="one wide column"><p></div>
</div>
