<div class="jumbotron jumbotron-extend-show" >
  <div class="container-fluid jumbotron-container">
    <h1 style="color: #fff;font-size: 3.5em;">Qiitter</h1>
    <h3 style="color: #fff;font-size: 1.5em;margin-top:0;" >プロダクト詳細ページ</h3>
  </div>
</div>
<div class="ui stackable grid">
    <div class="one wide column"></div>
    <div class="four wide column">
      <div class="side active">
        <div class="ui card">
          <div class="image">
            <%= image_tag( @product.user.image.url,class: 'icon') %>
          </div>
          <div class="content">
            <a class="header"><%= @product.user.name  %></a>
            <div class="meta">
              <span class="date">Joined in 2014</span>
            </div>
            <div class="description">
              <div class="ui tiny statistics">
                <div class="statistic">
                  <div class="value">
                    0
                  </div>
                  <div class="label">
                    投稿
                  </div>
                </div>
                <div class="statistic">
                  <div class="value">
                    0
                  </div>
                  <div class="label">
                    フォロー
                  </div>
                </div>
                <div class="statistic">
                  <div class="value">
                    2
                  </div>
                  <div class="label">
                    フォロワー
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="extra content" id="follow_button_<%= @product.user.id %>">
            <%= render 'relationships/follow_button', user: @product.user %>
          </div>
        </div>
      </div>
    </div>

    <div class="ten wide column">
      <h3 class="ui top attached header">
        <div>
          <%= @product.title %>
          <div class="ui right floated button">
            <div class="ui dropdown">
              <div class="text">option</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <% if current_user==@product.user %>
                  <div class="item">
                    <%= link_to(edit_product_path(@product)) do %>
                      <i class="edit icon"></i>編集
                      <% end %>
                    </div>
                    <div class="item">
                      <%= link_to(product_path(@product), method: :delete, data: { confirm: '本当に削除しますか？' }) do %>
                      <i class="trash icon"></i>削除
                      <% end %>
                    </div>
                    <div class="item">
                      <%= link_to(root_path) do %>
                      <i class="undo alternate icon"></i>一覧に戻る
                      <% end %>
                    </div>
                    <% else %>
                    <div class="item">
                      <%= link_to(root_path) do %>
                      　  <i class="undo alternate icon"></i>一覧に戻る
                      　<% end %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% @product.tags.each do |tag| %>
          <div class="ui label"><%= tag.tag_name %></div>
        <% end %>
      </h3>
      <div class="ui bottom attached segment" style="background-color: #fff;color: #000;">
          <%= markdown(@product.body).html_safe %><!--Markdownヘルパーを使ってる-->
      </div>
      <div class="ui comments">
        <h3 class="ui dividing header"><i class="comment outline icon"></i>Comments</h3>
        <% @comments.each do |comment| %>
        <div class="comment">
          <a class="avatar">
            <%= image_tag( comment.user.image.url,class: 'icon') %>
          </a>
          <div class="content">
            <a class="author"><%= comment.user.name %></a>
            <div class="metadata">
              <span class="date"><%= comment.created_at.strftime("%Y.%m/%d") %></span>
            </div>
            <div class="text">
              <%= comment.body %>
            </div>
            <div class="actions">
              <% if current_user.id == comment.user.id %>
                <%=link_to "削除", product_comment_path(comment.product.id, comment.id), method: :delete, data: { confirm: '本当に削除しますか？' },class: "reply" %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
        <%= form_with(model: [@product, @comment], method: :post, local: true,class: "ui reply form") do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <div class="field">
            <div>
              <%= f.hidden_field :product_id, :value => @product.id %>
              <%= f.text_field :body, :placeholder => "コメントする..."%>

              <div>
                <%= button_tag :type => "submit", :class =>"ui yellow button" do %>
                  <i class="icon edit"></i>投稿する
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="one wide column"><p></div>
</div>
