<div class="container">
  <div class="row">
    <div class="ui card">
      <div class="content">
    <div class="right floated meta">
      <% if current_user==@product.user %>
        <div>
          <%= link_to(edit_product_path(@product),class: "btn") do %>
            <small>編集</small>
          <% end %>
          <%= link_to(product_path(@product), method: :delete, data: { confirm: '本当に削除しますか？' } , class: "btn") do %>
            <small>削除</small>
          <% end %>
          <%= link_to(root_path, { class: "btn"}) do %>
            <small>一覧に戻る</small>
          <% end %>
        </div>
      <% else %>
      　<div>
        　<%= link_to(root_path, { class: "btn"}) do %>
        　  <small>一覧に戻る</small>
        　<% end %>
      　</div>
      <% end %>
    </div>
    <%= image_tag( @product.user.image.url,class: 'icon') %> <%= @product.user.name  %>
      </div>
      <div>
    <small class="border-bottom">タイトル</small>
    <%= link_to(product_path(@product)) do %>
      <h5 class="text-center"><%= @product.title %></h5>
    <% end %>
      </div>
      <h5 class="card-text text-center"></h5>
      <h5 class="card-text mt-2"><%= @product.body  %></h5>
      <div class="content">
    <span class="right floated">
      <i class="heart outline like icon"></i>
      17 likes
    </span>
    <i class="comment icon"></i>
    3 comments
      </div>
      <div class="extra content">
    <div class="ui large transparent left icon input">
      <i class="heart outline icon"></i>
      <input type="text" placeholder="Add Comment...">
    </div>
      </div>
    </div>
  </div>
</div>
